# Jekyll & Sass
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
